.input {
  width: 100%;

  &__label {
    display: block;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  &__control {
    width: 100%;
    background: #e8f0fe;
    padding: 0 10px 0;
    height: 45px;
    border-radius: 5px;
    font-size: 1.6rem;
  }

  &__error {
    color: red;
    font-size: 1.3rem;
    margin-top: 5px;
  }
}
