@use "../../scss";
@import "../../../node_modules/normalize-scss/sass/normalize/import-now";

* {
  box-sizing: border-box;
}

:root {
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.line-clamp.line-3 {
  --line-clamp: 3;
}

.word-break-all {
  word-break: break-all;
}

button.slick-arrow::before {
  font-size: 39px !important;
  color: yellow !important;
}

.slick-next {
  right: 33px;
  top: 47%;
}

.slick-prev {
  left: 18px;
  top: 47%;
  z-index: 1;
}

