.news-item {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 15px;
}

.text-heading {
  margin: 0;
  font-weight: 600;
  font-size: 1.8rem;
}

.text-desc {
  margin: 0;
  font-weight: 500;
  color: #808080;
  font-size: 1.4rem;
}

.sort-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px 10px;
}
