.change-password {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 130px;

    &__wrapper {
        background-color: #fff;
        width: 700px;
        padding: 50px;
    }

    &__heading {
        font-size: 2.9rem; 
        margin-bottom: 13px;
        margin-top: 0;
    }

    &__row {
        border-bottom: 1px solid #dee2e6;
        margin-bottom: 50px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }

    &__label {
        font-size: 1.45rem;
    }

    &__input {
        width: 70%;
        display: block;
        padding: 6px 11px;
        font-size: 1.45rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
        }
    }

    &__btn {
        width: 70%;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        user-select: none;
        border: 1px solid transparent;
        padding: 6px 11px;
        font-size: 1.45rem;
        line-height: 1.5;
        border-radius: .25rem;
        margin-top: 20px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #0069d9;
            border-color: #0062cc;
            cursor: pointer;
        }
    }
}