.item-row {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px;
  border-bottom: 1px solid red;
  background-color: #fff9f3;
}

.item-images {
  position: relative;
  width: 40.76%;
  height: 240px;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.item-content {
  width: 57.12%;
}

.item-thumbnail {
  display: block;
  width: 280px;
  height: 240px;
  object-fit: cover;
  border-radius: 3px;
}

.item-length {
  position: absolute;
  bottom: 3%;
  left: 3%;
  color: #f8f8f8;
  font-size: 1.2rem;
  padding: 5px 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.35);
}

.item-content_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.item-content_heading {
  display: inline;
  margin: 0;
  color: rgb(225, 52, 39);
  font-size: 1.4rem;
  line-height: 1.4;
}

.item-content_icon {
  color: rgb(234, 234, 135);
}

.item-content_icons {
  display: inline-block;
  margin-right: 3px;
}

.item-content_star {
  display: inline-block;
  width: 12px;
}

.item-content_infor {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.item-content_price {
  font-size: 1.6rem;
  font-weight: 600;
  color: #16c784;
  margin-right: 20px;
}

.item-content_acreage {
  line-height: 19px;
  font-size: 1.4rem;
  margin-right: 20px;
  color: #333333;
}

.item-content_area {
  line-height: 19px;
  font-size: 1.4rem;
  color: #333333;
}

.item-content_time {
  color: #aaa;
  line-height: 19px;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
}

.item-content_desc {
  color: #8a8d91;
  font-size: 1.4rem;
  line-height: 19px;
}

.item-content_personal {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.item-content_avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.item-content_name {
  color: #8a8d91;
  font-size: 1.4rem;
}

.item-content_phone {
  display: inline-block;
  padding: 3px 7px;
  border-radius: 5px;
  border: 1px solid #1266dd;
  background-color: #1266dd;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  margin-right: 5px;
}

.item-content_zalo {
  display: inline-block;
  padding: 3px 7px;
  border-radius: 5px;
  border: 1px solid #1266dd;
  color: #1266dd;
  font-size: 1.4rem;

  &:hover {
    background-color: #1266dd;
    cursor: pointer;
    color: #ffffff;
  }
}

.item-thumbnail__quantity {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 1.2rem;
  pointer-events: none;
  bottom: 8px;
  left: 5px;
}

.item-heart {
  position: absolute;
  right: 5px;
  bottom: 3px;
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
  width: 23px;
  height: 23px;
}

.item-heart__enter {
  color: red;
}

.item-heart__leave {
}
