.login {
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 100px;
  background: #fff;
  max-width: 600px;
  border: 1px solid #dedede;
  border-radius: 8px;

  &__heading {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #1266dd;
    font-size: 1.4rem;

    &:hover {
      cursor: pointer;
    }

    &-text:hover {
      color: #f60;
    }
  }
}

.social-login {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__inner {
    &-google,
    &-facebook {
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 5px;
      padding: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    &-google {
      background-color: #1877f2;
    }

    &-facebook {
      background-color: #ffffff;
      box-shadow: -2px 4px 16px 0px rgba(0, 0, 0, 0.15);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  &__google,
  &__facebook {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 2px;
  }

  &__google {
    color: #757575;
  }

  &__facebook {
    color: #ffffff;
  }
}
